body {
 height: 100%;
   background: rgb(2, 73, 72);
  background: -webkit-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:    -moz-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:      -o-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:     -ms-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:         linear-gradient(240deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background-repeat: no-repeat;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container-5 p {
  margin-bottom: 1em;
}

.container {
  float: left;
}

.container .container {
  position: relative;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
}

.button-1 {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 31px;
  margin: 19px 0 0 -0.17837%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0.01);
  font-size: 1.25em;
  text-align: center;
  color: rgb(215, 252, 250);
}

.container-1 {
  width: 18.25%;
  height: 463px;
  margin: 18px 0 0 1.5%;
}

.container-2 {
  background: rgb(255, 255, 255);
  width: 68.5%;
  height: 814px;
  margin-top: 71px;
}

.container-3 {
  z-index: 11;
  width: 100%;
  height: 806px;
  margin-top: 8px;
}

.container-4 {
  z-index: 6;
  width: 100%;
  height: 839px;
  margin-top: -33px;
}

.container-5 {
  z-index: 10;
  width: 90.0243309002%;
  height: 684px;
  margin: -758px 0 0 6.81265%;
}

.image-1 {
  position: relative;
  z-index: 3;
  width: 30px;
  margin: 20px 0 0 7.02055%;
}

.image-2 {
  clear: both;
  width: 100px;
  margin: 197px 0 0 29.39498%;
}

.text-1 {
  margin-left: 5.29395%;
  background-color: rgba(215, 252, 250, 0.01);
  font-size: 2em;
  color: rgb(244, 54, 54);
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 2;
  margin: 28px 0 0 -0.17837%;
  background-color: rgba(215, 252, 250, 0.01);
  font-size: 2em;
  color: rgb(244, 54, 54);
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 7;
  margin: -135px 0 0 6.8069499999%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-4 {
  width: 100%;
  min-height: 335px;
  margin-left: -0.00422%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-5 {
  clear: both;
  width: 51.081081081%;
  min-height: 90px;
  margin: 6px 0 0 0.1372466216%;
  font-size: 0.875em;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 45.8637469586%;
  min-height: 37px;
  margin: -814px 0 0 29.2427%;
  font-size: 1.375em;
  color: rgb(0, 0, 0);
}