body {
  height: 100%;
  background: rgb(2, 73, 72);
  background: -webkit-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:    -moz-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:      -o-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:     -ms-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:         linear-gradient(240deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background-repeat: no-repeat;
  font: 400 2em/1.38 Helvetica;
  color: rgb(244, 54, 54);
}

.container {
  float: left;
  width: 100%;
  height: 560px;
}

.container .container {
  position: relative;
  z-index: 5;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
}

.button-1 {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 18.25%;
  height: 31px;
  margin: 9px 0 0 1.46615%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0.01);
  font-size: 0.625em;
  text-align: center;
  color: rgb(215, 252, 250);
}

.container-1 {
  margin-top: 6px;
}

.image-1 {
  width: 839px;
  margin-left: 19.9987%;
}

.image-2 {
  position: relative;
  z-index: 4;
  width: 60px;
  margin-left: 0.25%;
}

.image-3 {
  position: relative;
  z-index: 10;
  width: 30px;
  margin: -547px 0 0 16%;
}

.image-4 {
  position: relative;
  z-index: 9;
  width: 100px;
  margin: -240px 0 0 6.38021%;
}

.text-1 {
  margin: -82px 0 0 14.07422%;
  font-size: 0.531em;
  color: rgb(239, 224, 1);
}

.text-2 {
  position: relative;
  z-index: 3;
  margin: 30px 0 0 10.68099%;
  background-color: rgba(215, 252, 250, 0.01);
  font-size: 1em;
  color: rgb(244, 54, 54);
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 6;
  margin: -547px 0 0 2.46615%;
  background-color: rgba(215, 252, 250, 0.01);
  font-size: 1em;
  color: rgb(244, 54, 54);
}

.text-4 {
  position: relative;
  z-index: 7;
  margin: -475px 0 0 1.46615%;
  background-color: rgba(215, 252, 250, 0.01);
  font-size: 1em;
  color: rgb(244, 54, 54);
}

.text-5 {
  position: relative;
  z-index: 8;
  margin: -95px 0 0 45.63151%;
  background-color: rgba(215, 252, 250, 0.01);
  font-size: 1em;
  color: rgb(244, 54, 54);
}